
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.App {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

textarea {
    width: 80%;
    max-width: 600px;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px; 
    resize: none;
    background-color: #1e1e1e;
    color: #ffffff;
}

.AddNote {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    width: 80%; 
    max-width: 600px; 
}

button:hover {
    opacity: 0.8;
}

.notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note {
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin: 10px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 600px;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #ff0000;
    font-size: 20px;
    cursor: pointer;
}

.delete-button:hover {
    color: #ff0000;
}



html, body {
    height: 100%;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


.main-content {
    flex: 1;
    padding-bottom: 60px; 
}


.notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.footer {

    position: fixed;
    right: 0px;
    bottom: 0;
    width: 100%;
    padding: 0px;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    background: rgba(18, 18, 18, 0.8);
    backdrop-filter: blur(10px); 
    z-index: 1000; 
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.note {
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 600px;
    text-align: left; /* Ensure text is aligned properly */
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
}
